* {
    font-family: FontAwesome, CaskaydiaCoveNerdFont, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: #1E2A18;
    border-bottom: 3px solid #1b2515;
    color: #F5EDD1;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #f5edd1;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 8px;
    color: #F5EDD1;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    background-color: #5B741B;
    box-shadow: inset 0 -3px #f5edd1;
}

#workspaces button.urgent {
    background-color: #BA7A3B;
}

/* excluded tray, since I want it to touch the side of the screen */
#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-media,
#power-profiles-daemon { /* separators */
    padding-right: 16px;
    padding-left: 14px;
    border-right: 2px dotted;
}

#tray {
    margin-left: 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}
